<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.beteran.movie">
      <select id="movie" resultType="movie" >
         SELECT  MOVIEID, MOVIENAME, MOVIEDIRECTOR, MOVIEDATE, MOVIENATION, MOVIESUMMARY
         FROM   MOVIE
      </select>
      
      <select id="movieRate" resultType="movieRate">
         SELECT MOVIEID, USERID, MOVIERATE
         FROM   MOVIERATE
          WHERE  USERID =#{userid}
      </select>
      
      <delete id="deleteRate"
            parameterType="movieRate">
            DELETE FROM MOVIERATE
            WHERE   MOVIEID=#{movieid} AND
                  USERID=#{userid}
      </delete>
            
      

      
       

      

</mapper>  













